{{#unless isUserDefined}}

  {{md-input value=username label='User Name' class="col s12" validate=true}}
  {{md-btn icon='mdi-content-send'
      iconPosition='right'
      text='Submit'
      action='sendUserName'
      actionArg=username}}

  {{else}}
    <h3>Welcome {{ myUserName }}</h3>
    <div class="row">
      <div class="col s12">
        {{#display-chat messages=messages}}{{/display-chat}}
      </div>
    </div>
    <div class="row">
      {{textarea value=textchat}}
      {{md-btn icon='mdi-action-favorite'
      	action='sendChat'
        actionArg=textchat
        buttonType='floating'
      	class='btn-large'}}
    </div>
{{/unless}}
